<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>爆絶強力ワードサーチャー</title>
    <link rel = "stylesheet" href = "https://unpkg.com/ress/dist/ress.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
    <mata name = "viewport" content = "width = device-width, initial-scale = 1"></mata>
</head>
<body>
    <header>
        <nav>
            <ul class = "main-nav">
                <li><a href = "How_To_Use.html">How to Use</a></li>
                <li><a href = "https://kotodaman.jp/">Official Home Page</a></li>
            </ul>
        </nav>
    </header>

    <div class = "mainsys">
        <div class = "search">
            <div class = "sevenwords">
                <div class = "banmen empty banmen1"></div>
                <div class = "banmen empty banmen2"></div>
                <div class = "banmen empty banmen3"></div>
                <div class = "banmen empty banmen4"></div>
                <div class = "banmen empty banmen5"></div>
                <div class = "banmen empty banmen6"></div>
                <div class = "banmen empty banmen7"></div>
            </div>

            <section id="UI_buttons">
                <input type = "image" id = "resetbutton" src = "{{ url_for('static', filename='img/reset_button.svg')}}" alt = "<読み込み失敗>リセットボタン">
                <input type = "image" id = "searchbutton" src = "{{ url_for('static', filename='img/search_button.svg')}}" alt = "<読み込み失敗>検索するボタン">
            </section>

            <div class = "nihongolist">
                <div class = "dan" class = "a_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word changable small" src = "{{ url_for('static', filename='img/0.svg')}}" alt = "あ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable small" src = "{{ url_for('static', filename='img/1.svg')}}" alt = "い"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable small" src = "{{ url_for('static', filename='img/2.svg')}}" alt = "う"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable small" src = "{{ url_for('static', filename='img/3.svg')}}" alt = "え"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable small" src = "{{ url_for('static', filename='img/4.svg')}}" alt = "お"></image></div>
                </div>
                <div class = "dan" class = "k_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/5.svg')}}" alt = "か"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/6.svg')}}" alt = "き"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/7.svg')}}" alt = "く"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/8.svg')}}" alt = "け"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/9.svg')}}" alt = "こ"></image></div>
                </div>
                <div class = "dan" class = "s_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/10.svg')}}" alt = "さ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/11.svg')}}" alt = "し"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/12.svg')}}" alt = "す"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/13.svg')}}" alt = "せ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/14.svg')}}" alt = "そ"></image></div>
                </div>
                <div class = "dan" class = "t_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/15.svg')}}" alt = "た"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/16.svg')}}" alt = "ち"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable handakuten" src = "{{ url_for('static', filename='img/17.svg')}}" alt = "つ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/18.svg')}}" alt = "て"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable dakuten" src = "{{ url_for('static', filename='img/19.svg')}}" alt = "と"></image></div>
                </div>
                <div class = "dan" class = "n_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/20.svg')}}" alt = "な"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/21.svg')}}" alt = "に"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/22.svg')}}" alt = "ぬ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/23.svg')}}" alt = "ね"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/24.svg')}}" alt = "の"></image></div>
                </div>
                <div class = "dan" class = "h_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word changable handakuten" src = "{{ url_for('static', filename='img/25.svg')}}" alt = "は"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable handakuten" src = "{{ url_for('static', filename='img/26.svg')}}" alt = "ひ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable handakuten" src = "{{ url_for('static', filename='img/27.svg')}}" alt = "ふ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable handakuten" src = "{{ url_for('static', filename='img/28.svg')}}" alt = "へ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable handakuten" src = "{{ url_for('static', filename='img/29.svg')}}" alt = "ほ"></image></div>
                </div>
                <div class = "dan" class = "m_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/30.svg')}}" alt = "ま"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/31.svg')}}" alt = "み"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/32.svg')}}" alt = "む"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/33.svg')}}" alt = "め"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/34.svg')}}" alt = "も"></image></div>
                </div>
                <div class = "dan"  class = "y_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word changable small" src = "{{ url_for('static', filename='img/35.svg')}}" alt = "や"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable small" src = "{{ url_for('static', filename='img/36.svg')}}" alt = "ゆ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word changable small" src = "{{ url_for('static', filename='img/37.svg')}}" alt = "よ"></image></div>
                </div>
                <div class = "dan" class = "r_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/38.svg')}}" alt = "ら"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/39.svg')}}" alt = "り"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/40.svg')}}" alt = "る"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/41.svg')}}" alt = "れ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/42.svg')}}" alt = "ろ"></image></div>
                </div>
                <div class = "dan" class = "w_gyou">
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/43.svg')}}" alt = "わ"></image></div>
                    <div class = "empty fifty" draggable = "true"><image class = "word" src = "{{ url_for('static', filename='img/44.svg')}}" alt = "ん"></image></div>
                </div>
            </div>
        </div>

        <div id = "result">
        </div>

    </div>
    <script src = "{{url_for('static', filename='script.js')}}"></script>
    <script src = "{{url_for('static', filename='result.js')}}"></script>
</body>
</html>